.card{
    flex-direction: column;
    width:300px;
    margin: 20px;
    height: 230px;
    justify-content: center;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.card:hover{
    cursor: pointer;
}
.card.dark {
    box-shadow: none;
}
.countryOverlay{
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: gray;
    opacity: 0.8;
}

.name{
    text-align: center;
    font-size: 24px;
    color:white;
}
.image{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: fill;
}