
.navContainer{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    border-bottom: 1px solid gray;
}
.darkContainer{
    background-color: black;
    color: white;
}
.title{
    font-size: 30px;
    width: 100%;
}

.rightSideItems{
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
    align-items: center;

}
.languageSelector{
    display: flex;
    width: 160px;
    justify-content: space-between;
}
.languageIcon{
    width: 40px
}
.btnSection{
    display: flex;
}
.darkModeBtn{
    height: 45px;
    border: 1px solid hsl(200, 15%, 8%);
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    width: 130px;
    justify-content: space-between;
    align-items: center;
    color: hsl(200, 15%, 8%);
    padding: 0 20px;
}
.active {
    color: white;
    border: 1px solid white;
}
.darkModeBtn:hover{
    cursor: pointer;
    color: white;
    background-color: hsl(200, 15%, 8%);
}

.darkModeBtn.active:hover{
    cursor: pointer;
    color: black;
    background-color:white;
}


