.filters{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}
.dark{
    background-color: black;
}
.inputComponent{
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: white;
    /* border: 1px solid #a0a0a0; */
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.inputComponent.dark{
    background-color: #a0a0a0;
    box-shadow: none;

}
.inputComponent input{
    font-size: 15px;
}
.inputComponent.dark {
    background-color: #212529;
}
.inputComponent.dark input {
    background-color: #212529;
    border: none;
}
.inputComponent.dark input:focus {
    outline: none;
}
.inputComponent.dark ion-icon{
    color: white;
}


.searchBar{
    width: 300px;
    height: 40px;
    background-color: white;
    color: #a0a0a0;
    border: none;
    padding: 0 16px;

}
.searchBar.dark{
    background-color: #a0a0a0;
    box-shadow: none;

}

.currencyFilter, .regionFilter{
    width: 250px;

}

@media (max-width: 760px){
    .filters{
       
        width: auto;
        
    }
    .inputComponent{
        width: 94%;
    }
    .currencyFilter, .regionFilter{
        width: 47%;
    
    }
}
@media (max-width: 450px){
    .inputComponent{
        width: 93%;
    }
    .currencyFilter, .regionFilter{
        width: 100%;
    
    }
}